@import url('font.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.continer{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav_list{
    display: flex;
    justify-content: space-between;
    width: 583px;
    height: 90px;
}

.nav_list > li{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #214E41;
}

.nav_links-request{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    height: 40px;
    width: 137px;
    background: #43806C;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:-10px 0 0 0;
}

.nav_links-about{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #214E41;
    margin-left: 29px;
}

.nav_links-vector{
    margin-right: 29px;
}

.nav_links-lang{
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #214E41;
}

.nav_links{
    display: flex;
}

.nav_photo{
    width: 282px;
    height: 40px;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 29px 62px 31px 49px;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #FFFFFF;
    height: 90px;
}

.section{
    height: 720px;
    width: 1440px;
    background: url(../img/Rectangle\ \(1\).png) no-repeat;
}

.main_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
}

.main_text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #214E41;
    margin: 36px 0 10px -2px;
}

.main_place-anker{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    height: 60px;
    background: #43806C;
    border-radius: 0px 6px 6px 0px;
    width: 123px;
    display: flex;
    justify-content: center;
    align-items:  center;
    margin: 0;
}

.main_section-texts{
    height: 278px;
    width: 516px;
    margin: 0 120px;
    margin-top: 10px;
    padding-top: 161px;
}

.section_placeholder{
    height: 60px;
    width: 280px;
    background-color: #FFFFFF;
    border: none;
}

.main_place{
    width: 401px;
    height: 61px;
    display: flex;
}

.main_place > ::placeholder {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.section_analitycs{
    height: 730px;
    background: #F5F5F5;
    display: flex;
    justify-content: space-between;
    padding: 176px 120px 120px 0;
}

.frame_benefits{
    height: 171px;
    width: 100%;
background: #FFFFFF;
border-radius: 6px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-top: -257px;
    margin-left: 133px;
    box-shadow: 10px 10px 12px rgba(168, 168, 168, 0.6);

}

.frame_benefits-umbrella{
    height: 71px;
    width: 340px;
    display: flex;
    justify-content: space-between;
}

.frame_benefits-picture{
    margin-top: 10px;
}

.frame_benefits-text > p{
    margin-bottom: 10px;
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #214E41;
width: 276px;
}

.text_analitycs{
    height: 358px;
    width: 510px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -1122px;
    margin-right: 687px;

}

.text_analitycs-1{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
letter-spacing: 0.05px;
text-transform: uppercase;
color: #43806C;
}
.text_analitycs-2{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 46px;
color: #214E41;
margin-top: 25px;
}
.text_analitycs-3{
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: 0.02px;
color: #757575;
margin-bottom: 25px;
margin-top: 25px;
}
.text_analitycs-4{
    font-family: 'Raleway';
    width: 107px;
height: 36px;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
text-align: center;
letter-spacing: 0.02px;
color: #214E41;
border-bottom: solid 2px #214E41;
}

.analitycs_proceent{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 22px;
letter-spacing: 0.02px;
text-decoration-line: underline;
color: #214E41;
}

.picture_analityscs-text{
    height: 186px;
    width: 256px;
    margin-top: -224px;
    margin-left: -496px;
}

.picture_analityscs-text > h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 90px;
color: #214E41;
margin: 0;
}


.picture_analityscs-text > p{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 22px;
letter-spacing: 0.02px;
color: #214E41;
}

.picture_analityscs-text > img{
    margin-bottom: 10px;
}

.analityscs_green-little{
    height: 214px;
    width: 77px;
    margin-bottom: 100px;
}

.analityscs_green-little-1{
    height: 214px;
    width: 77px;
    margin-bottom: 100px;
    margin-top: -151px;
}

.picture_analityscs-green{
    display: flex;
    justify-content: space-between;
    margin-top: -184px;
    margin-left: -220px;
    width: 210px;
    height: 364px;
}

.pp{
    display: flex;
    justify-content: space-between;
}

.analityscs_green-little > h6{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 22px;
text-align: center;
color: #214E41;
}

.analityscs_green-little > p{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 22px;
text-align: center;
color: #214E41;
}

.analityscs_green-little-1 > h6{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 22px;
text-align: center;
color: #214E41;
}

.analityscs_green-little-1 > p{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 22px;
text-align: center;
color: #214E41;
}

.picture_analityscs{
    margin-left: -100px;
}

.section_two-colors{
    height: 640px;
}

.section_two-white{
    width: 705px;
    height: 640px;
    background: #E3EEED;
}

.section_two-green{
    width: 705px;
    height: 640px;
    background: #214E41;
}

.section_two-colors{
    display: flex;
}

.section_two-white{
    padding: 120px;
}

.m1{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
letter-spacing: 0.05px;
text-transform: uppercase;
color: #214E41;
margin-bottom: 20px;
}

.m2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;
color: #214E41;
margin-bottom: 20px;
}

.PPP{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.m3{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;
color: #43806C;
margin-bottom: 20px;
}

.RRR > p{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;
letter-spacing: 0.02px;
color: #FFFFFF;
}

.QQQ{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.02px;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.RRR{
    padding: 160px 120px 208px 115px;
}

.section_forest{
    height: 1227px;
}

.section_pharagraf-phone1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #43806C;
}

.section_pharagraf-phone2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #214E41;
    margin: 30px 0;
}

.section_pharagraf-phone3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02px;
    color: #757575;
}

.section_text-pharagraf{
    height: 298.34px;
    width: 800px;
}

.section_foresrt-pharagraf{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 120px 100px 0;
}

.section__procent{
    width: 1200px;
    height: 132px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 120px;
    margin-right: 120px;
}

.section__procent1{
    width: 252px;
    height: 132px;
}

.section__procent1 > h2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 78px;
color: #F0A446;
}

.section__procent1 > p{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 22px;
letter-spacing: 0.02px;
color: #214E41;
}

.section_womeen-phone{
    height: 500px;
    width: 1200px;
    display: flex;justify-content: space-between;
    margin: 120px 120px 0;
}

.section_womeen-phone-text{
    height: 500px;
    width: 686px;
    padding: 68px 0 120px 120px;
}

.section__text-tex1{
    font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 13px;
line-height: 20px;
letter-spacing: 0.05px;
text-transform: uppercase;
color: #43806C;
}

.section__text-tex2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 46px;
color: #214E41;
margin: 20px 0;
}

.section__text-tex3{
    margin-bottom: 20px;
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: 0.02px;
color: #757575;
}

.section__text-tex4{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
text-align: center;
letter-spacing: 0.02px;
color: #214E41;
}

.footer_div{
    height: 522px;
    background: url(../img/Rectangle\ \(10\).png) no-repeat;
    width: 100%;
}

.footer_div-text{
    height: 282px;
    width: 500px;
    padding: 120px 0 114px 120px;
}

.footer_div-text > h1{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
letter-spacing: 0.05px;
text-transform: uppercase;
color: #43806C;
}

.footer_div-text > h2{
   font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 46px;
color: #214E41;
margin-top: 30px;
}

.footer_div-text > h3{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: 0.02px;
color: #757575;
margin: 30px 0;
}

.footer_div-text > h4{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
letter-spacing: 0.02px;
color: #214E41;
padding-bottom: 10px;
border-bottom: 2px solid #214E41;
width: 100px;
}